#users {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espaçamento entre os itens */
  justify-content: center; /* Centraliza os itens horizontalmente */
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

@media (min-width: 768px) {
  ul {
    flex-direction: column;
  }
}
