#users {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  justify-content: center;
  padding: var(--spacing-md);
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: var(--spacing-md);
  margin-top: 0;
}

#users li {
  width: 100%;
}

@media (min-width: 768px) {
  #users {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  #users {
    padding: var(--spacing-xs);
    gap: var(--spacing-xxs);
  }

  #users li {
    min-width: 100px;
    max-width: 150px;
  }
}
