article {
  padding: var(--spacing-md);
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-lg);
}

h2 {
  margin: 0;
}

time {
  color: #3c2c50;
}

.actions {
  text-align: right;
  margin: 0;
}
