header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto var(--spacing-lg) auto;
  text-align: center;
  background: var(--color-primary);
  padding: var(--spacing-sm);
  border-bottom-right-radius: var(--border-radius-lg);
  border-bottom-left-radius: var(--border-radius-lg);
}

img {
  width: 3.5rem;
  -o-object-fit: contain;
  object-fit: contain;
}

h1 {
  font-size: var(--font-size-lg);
  margin: 0;
  padding: 0;
  color: var(--color-text-light);
}

p {
  margin: 0;
  font-size: var(--font-size-sm);
  text-wrap: balance;
  color: var(--color-text-light);
}

@media (min-width: 768px) {
  header {
    padding: var(--spacing-lg);
  }

  img {
    width: 4.5rem;
  }

  h1 {
    font-size: var(--font-size-lg);
    margin: 0;
    padding: 0;
  }
}
