:root {
  --color-primary: #ff6600; /* Laranja Itaú */
  --color-primary-hover: #e65c00;
  --color-primary-light: #ff66001a;

  /* Cores secundárias */
  --color-secondary: #673ab7; /* Roxo mais fechado */
  --color-secondary-hover: #5a2ea3;

  /* Cores de ação */
  --color-complete: #ff8200; /* Laranja Itaú padrão */
  --color-complete-hover: #e67300;

  /* Cores neutras */
  --color-neutral: #cfd1d3;
  --color-neutral-hover: #e6e6e6;

  /* Texto */
  --color-text-light: #fefefe;
  --color-text-dark: #1a1a1a;

  --color-label: #666666;
  --color-border: #adb8b3;
  --color-background: #f1f2f4;

  --color-header-gradient-start: #ff6600;
  --color-header-gradient-end: #cc5200;
  --color-header-shadow: rgba(0, 0, 0, 0.6);

  --color-background-start: #ffffff;
  --color-background-end: #f2f2f2;
  --color-text: #333333;

  --color-background-button: #ff6600;
  --color-text-button: #ffffff;
  --color-background-button-hover: #cc5200;
  --color-text-button-hover: #ffffff;
  --color-shadow-img: rgba(0, 0, 0, 0.2);
  --color-shadow-div: rgba(0, 0, 0, 0.1);

  --border-radius: 12px;
  --font-size-span: 0.8rem;
  --img-size: 2rem;
}
