/* Cores primárias */
:root {
  --color-primary: #9c73ca;
  --color-primary-hover: #895cce;
  --color-primary-light: #9c73ca1a;

  /* Cores secundárias */
  --color-secondary: #007bff;
  --color-secondary-hover: #0056b3;

  /* Cores de ação */
  --color-complete: #380774;
  --color-complete-hover: #4a0774;

  /* Cores neutras */
  --color-neutral: #bdadcf;
  --color-neutral-hover: #d0c2e1;

  /* Texto */
  --color-text-light: #decdf2;
  --color-text-dark: #000c19;

  --color-label: #ab9ac0; /* Cor do texto do label */
  --color-border: #ab9ac0; /* Cor da borda do input/textarea */
  --color-background: #d0c2e1; /* Cor de fundo do input/textarea */

  --color-header-gradient-start: #2c0a4c; /* Cor inicial do gradiente do header */
  --color-header-gradient-end: #450d80; /* Cor final do gradiente do header */
  --color-header-shadow: rgba(0, 0, 0, 0.6); /* Sombra do header */
}
