:root {
  /* Cores primárias */
  --color-primary: #ff6600;
  --color-primary-hover: #e65c00;

  /* Cores secundárias */
  --color-secondary: #673ab7;
  --color-secondary-hover: #5a2ea3;

  /* Cores de ação */
  --color-complete: #ff8200;
  --color-complete-hover: #e67300;

  /* Cores neutras */
  --color-neutral: #cfd1d3;
  --color-neutral-hover: #e6e6e6;

  /* Texto */
  --color-text-light: #fefefe;
  --color-text-dark: #1a1a1a;

  --color-label: #666666;
  --color-border: #adb8b3;
  --color-background: #f1f2f4;

  --color-header-gradient-start: #ff6600;
  --color-header-gradient-end: #cc5200;

  --color-text: #333333;

  --color-background-button: #ff6600;
  --color-text-button: #ffffff;
  --color-background-button-hover: #cc5200;
  --color-text-button-hover: #ffffff;
  --color-shadow-img: rgba(0, 0, 0, 0.2);
  --color-shadow-div: rgba(0, 0, 0, 0.1);

  /* Espaçamentos */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */

  /* Tipografia */
  --font-family: 'Poppins', sans-serif;
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Bordas */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  --img-size: 2rem;
}
