main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
}

@media (min-width: 768px) {
  main {
    display: grid;
    grid-auto-flow: row;
    gap: var(--spacing-lg);
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr;
  }
}
