button,
a {
  font: inherit;
  cursor: pointer;
  border: none;
  padding: 0.35rem 1.25rem;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-text-dark);
}

.btn-submit {
  color: var(--color-text-light);
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.btn-submit:hover,
.btn-submit:active {
  background-color: var(--color-primary-hover);
}

.btn-link {
  color: var(--color-primary);
  background-color: var(--color-text-light);
  border: 1px solid var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-link:hover,
.btn-link:active {
  color: var(--color-text-light);
  background-color: var(--color-primary);
  border: 1px solid var(--color-text-light);
}

.btn-complete {
  cursor: pointer;
  background-color: var(--color-complete);
  color: var(--color-text-light);
  border: none;
  transition: all 0.3s ease;
}

.btn-complete:hover,
.btn-complete:active {
  background-color: var(--color-complete-hover);
}

.btn-sort {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  cursor: pointer;
}

.btn-sort:hover {
  background-color: var(--color-secondary-hover);
}

.btn-cancel {
  color: var(--color-text-light);
  background-color: var(--color-neutral);
  text-decoration: none;
  cursor: pointer;
}

.btn-cancel:hover,
.btn-cancel:active {
  background-color: var(--color-neutral-hover);
}
