label {
  display: block;
  font-weight: bold;
  font-size: var(--font-size-sm);
  color: var(--color-label);
  margin-bottom: var(--spacing-xxs);
}

textarea {
  width: 100%;
  font: inherit;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
}
