label {
  display: block;
  font-weight: bold;
  font-size: 0.85rem;
  color: var(--color-label); /* Usando a variável de cor */
  margin-bottom: 0.25rem;
}

textarea {
  width: 100%;
  font: inherit;
  padding: 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  background-color: var(--color-background);
}
