<h2>Add Task</h2>
<form (ngSubmit)="onSubmit()">
  <p>
    <ds-input
      label="Title"
      [(ngModel)]="enteredTitle"
      type="text"
      name="title"
      id="title"
      title="title"
      placeholder="Enter task title"
      class="input-title"
    />
  </p>

  <p>
    <ds-textarea
      label="Summary"
      [(ngModel)]="enteredSummary"
      name="summary"
      id="summary"
      title="summary"
      class="input-summary"
    />
  </p>

  <p>
    <ds-input
      label="Due Date"
      [(ngModel)]="enteredDate"
      type="date"
      name="duo-date"
      id="due-date"
      title="duo-date"
      class="input-date"
    />
  </p>

  <p class="actions">
    <ds-button [routerLink]="'../'" [label]="'Cancel'" class="btn-cancel" />
    <ds-button type="submit" [label]="'Create'" class="btn-submit" />
  </p>
</form>
