@import url('./styles/variables.css');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-family); /* Usando a variável de fonte */
  background: radial-gradient(
    circle at top left,
    var(--color-background-start),
    var(--color-background-end)
  ); /* Usando as variáveis de cor */
  color: var(--color-text); /* Usando a variável de cor do texto */
  margin: 0;
  padding: 0;
  height: 100%;
}
