@import url('./styles/variables.css');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(
    circle at top left,
    var(--color-background-start),
    var(--color-background-end)
  );
  color: var(--color-text);
}

@media (max-width: 768px) {
  body {
    min-height: 100%;
  }

  main {
    min-height: 100%;
  }
}
