@import url('./styles/variables.css');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
}

@media (max-width: 768px) {
  body {
    min-height: 100%;
  }

  main {
    min-height: 100%;
  }
}
