div {
  border-radius: var(--border-radius);
  box-shadow: 0 1px 6px var(--color-shadow-div);
  overflow: hidden;
}

a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: var(--color-background-button);
  color: var(--color-text-button);
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;
  text-align: left;
  text-decoration: none;
}

a:hover,
a:active,
.selected {
  background-color: var(--color-background-button-hover);
  color: var(--color-text-button-hover);
}

img {
  width: var(--img-size);
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 1px 8px var(--color-shadow-img);
}

span {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-span);
  font-weight: normal;
}
